.footer-nav-3-items
{
    padding: 0 0.7rem;
    max-width: 8rem;
}

.footer-nav-3-items a
{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.footer-nav-3-items a:hover span {
  text-decoration: underline #FFFFFF;
}



.footer-nav-3-items h5
{
    color: #DDDDDD;
    font-size: 0.8rem;
    margin: 0;
    line-height: 0.9rem;
}


.footer-nav-3-items span
{
    color: #999999;
    font-size: 0.8rem;
    line-height: 0.85rem;
}

